body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:865px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:732px;
  display:flex;
}
#u5873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:302px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:375px;
  height:302px;
  display:flex;
}
#u5874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u5875 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:450px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u5875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:56px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5876 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:516px;
  width:343px;
  height:56px;
  display:flex;
}
#u5876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u5877 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:525px;
  width:39px;
  height:39px;
  display:flex;
}
#u5877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u5878 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:534px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u5878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:56px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5879 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:582px;
  width:343px;
  height:56px;
  display:flex;
}
#u5879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u5880 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:591px;
  width:39px;
  height:39px;
  display:flex;
}
#u5880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u5881 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:600px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u5881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5882 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:454px;
  width:12px;
  height:12px;
  display:flex;
}
#u5882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5883 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:534px;
  width:22px;
  height:22px;
  display:flex;
}
#u5883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5884 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:599px;
  width:22px;
  height:22px;
  display:flex;
}
#u5884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 93, 234, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5885 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:666px;
  width:350px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5885_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 93, 234, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5885.mouseOver {
  opacity:0.9;
}
#u5885_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 93, 234, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5885.mouseDown {
}
#u5885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u5886 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:525px;
  width:449px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u5886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
