.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._图片_ {
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._形状 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
}
._流程形状 {
}
._连接 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_1 {
}
.ellipse {
}
.placeholder {
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._形状1 {
}
.image {
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon {
}
._图片_1 {
  color:#000000;
}
.box_3 {
}
.image1 {
  color:#000000;
}
.checkbox {
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._线段 {
}
._图片 {
  color:#000000;
}
._默认样式 {
}
.sticky_2 {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.button {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_2 {
}
._图片_2 {
  color:#000000;
}
.arrow {
}
.box_21 {
}
._图片1 {
  color:#000000;
}
._连接线 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_11 {
}
._形状2 {
  color:#000000;
}
.paragraph {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.horizontal_line {
}
.shape {
}
.droplist {
  color:#000000;
  text-align:left;
}
.shape1 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.refs-chart-data {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.flow_shape {
}
._文本段落1 {
  text-align:left;
}
._二级标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.line1 {
}
._垂直线 {
}
.table_cell {
  color:#7F7F7F;
}
.link_button {
  color:#169BD5;
}
.radio_button {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.html_button {
  text-align:center;
}
.icon1 {
  font-family:'PingFangHK-Regular', 'PingFang HK', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.shape2 {
}
.shape3 {
}
.flow_shape1 {
}
.image2 {
  color:#000000;
}
.box_12 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.box_13 {
}
.ellipse1 {
}
.box_31 {
}
.image3 {
}
.paragraph1 {
  text-align:left;
}
.box_22 {
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
}
._图片2 {
}
.label3 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.icon2 {
}
textarea, select, input, button { outline: none; }
